PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USER=capco
DB_PASSWORD=capco
DB_NAME=payments

TEMPORAL_ADDRESS=localhost:7233
TEMPORAL_NAMESPACE=default
TEMPORAL_TASK_QUEUE=payments

MERCADOPAGO_ACCESS_TOKEN=
APP_PUBLIC_URL=http://localhost:3000
